extends widget/base.pug

block tittle
    title ACCESORIOS

block content
    .d-flex.flex-column.align-items-center
        .d-flex.flex-column.align-items-center.justify-content-center.bg-dark.my-4.w-25
            h1.text-light.m-2 ACCESORIOS
        .row.my-3
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/1.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/2.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/3.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
        .row.my-3
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/4.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/5.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Juguete
                    h3.pt-2 $15.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/6.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
        .row.my-3
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/7.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Pillama
                    h3.pt-2 $45.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/8.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $125.000
            .col
                .bg-acc.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/accesorios/9.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Bolsa para dormir
                    h3.pt-2 $45.000




