extends widget/base.pug

block content
    title CONTACTENOS

block content
    .d-flex.flex-column.align-items-center.justify-content-between.px-5.py-4.w-100
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.273719968173!2d-73.02617468459216!3d5.8169650325852045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a3f6f3edbb939%3A0x914e091220c77ae3!2sRobledales%202.!5e0!3m2!1ses!2sco!4v1653085729051!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
