extends widget/base.pug

block content
    title GAMEPLAY

block content
    .d-flex.flex-column.align-items-center.justify-content-between.px-5.py-4.w-100
        iframe(width="800" height="600" id="actividadIF" src="//es.educaplay.com/juego/2366469-crucigrama.html")