extends widget/base.pug

block content
    tittle INICIO

block content
    div(class="d-flex flex-column align-items-center justify-content-between px-5 py-4 w-100")
        h1 NUESTRA HISTORIA
        h1 MISIÓN
        h1 VISIÓN
        h1 VALORES CORPORATIVOS