extends widget/base.pug

block content
    tittle INICIO

block content
    .d-flex.flex-column.align-items-center.justify-content-between.px-5.py-4.w-100.bg-white.rounded.mt-5
        h1 MISION
        P Asesorar y ayudar a los padres en el cuidado de sus bebés, para que crezcan con más seguridad estimulación y comodidad. Mejorar la calidad y reducir el costo de la vida de nuestros clientes, colaboradores, asociados y la comunidad en general a través de la provisión de productos y servicios de óptima calidad, de la manera mas eficiente con la mejor atención al publico.

        h1.mt-4 VISION
        p Ser una empresa líder a nivel municipal y departamental, en el mercado de la moda infantil, a través de personal capacitado y mediante el uso de la innovación en las instalaciones de la microempresa para brindar satisfacción a nuestros clientes con conceptos de moda innovadora, mantener actualizadas nuestras instalaciones y así llegar a ser la mejor en servicio, moda y calidad.

        h1.mt-4 NUESTRA HISTORIA 
        p La microempresa NAPPERS nace el 10 de enero del 2021, Con el fin de generar ingresos a través de una página web  Y a raíz de la pandemia, nacemos para brindar servicios y una oportunidad de negocio familiar, con el fin de deleitar a la comunidad ofreciendo moda de la mejor calidad al cliente con una determinación de expiación a nivel local y regional.

        h1.mt-4 VALORES CORPORATIVOS
        p Responsabilidad, pasión, diversidad, calidad, innovación,trabajo en equipo e impacto social.
