extends widget/base.pug

block content
    tittle NIÑA

block content
    .d-flex.flex-column.align-items-center
        .d-flex.flex-column.align-items-center.justify-content-center.bg-dark.my-4.w-25
            h1.text-light.m-2 NIÑA
        .d-flex.flex-row
            .container
                .row.my-3
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                .row.my-3
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                .row.my-3
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                .row.my-3
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
                    .col
                        img(src="./img/ropa2.jpg" alt="ropa21" class="img1")
            .d-flex.flex-column.w-50.m-3.align-items-center
                img(src="./img/ropa2.jpg" alt="ropa21" class="img1 mb-5")
                .mx-3
                    h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, voluptas. Non alias nihil eos doloribus eaque quisquam fuga maxime unde deleniti consectetur sint recusandae praesentium eligendi corporis, quod necessitatibus dolore nobis laborum impedit excepturi quae id expedita! Ut maiores nam ab qui, quae deserunt tempora deleniti provident delectus dolore enim vero debitis at architecto accusantium voluptates? Aut non mollitia architecto velit placeat! Quaerat possimus dolor aliquam inventore. Nisi animi aperiam nihil velit repellat enim asperiores. Quibusdam sint quod ex nemo aperiam distinctio nisi vel in deserunt delectus? Blanditiis, fugiat quo alias sit vitae accusantium corporis iusto nesciunt pariatur magni quas repudiandae dignissimos voluptate nemo voluptatem et ratione maxime deserunt! Provident cupiditate labore ipsa repudiandae earum. Dolore ex nobis nulla. Ea nulla eveniet odio commodi explicabo sequi recusandae placeat ullam molestiae ut magnam odit pariatur accusantium autem sint eos beatae, non fuga perspiciatis nam. Earum animi, laboriosam porro laborum magni ex.
