extends widget/base.pug

block tittle
    title NIÑAS

block content
    .d-flex.flex-column.align-items-center
        .d-flex.flex-column.align-items-center.justify-content-center.bg-dark.my-4.w-25
            h1.text-light.m-2 NIÑA
        .row.my-3
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/1.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Cobija
                    h3.pt-2 $35.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/2.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $25.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/3.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Body
                    h3.pt-2 $20.000
        .row.my-3
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/4.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Body
                    h3.pt-2 $25.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/5.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Body
                    h3.pt-2 $25.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/6.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $45.000
        .row.my-3
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/7.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $30.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/8.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $50.000
            .col
                .bg-pink1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niñas/9.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $50.000




