extends widget/base.pug

block tittle
    title NIÑOS

block content
    .d-flex.flex-column.align-items-center
        .d-flex.flex-column.align-items-center.justify-content-center.bg-dark.my-4.w-25
            h1.text-light.m-2 NIÑO
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/1.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $55.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/2.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $58.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/3.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $45.000
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/4.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $32.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/5.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $55.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/6.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Chaqueta
                    h3.pt-2 $35.000
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/7.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $55.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/8.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Chaqueta
                    h3.pt-2 $40.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    a(href="https://wa.me/message/DJR7D5NVQXG5I1")
                        img(src="./img/niños/9.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Conjunto
                    h3.pt-2 $45.000




