extends widget/base.pug

block tittle
    title NIÑOS

block content
    .d-flex.flex-column.align-items-center
        .d-flex.flex-column.align-items-center.justify-content-center.bg-dark.my-4.w-25
            h1.text-light.m-2 NIÑO
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/1.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 1
                    h3.pt-2 $15.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/2.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 2
                    h3.pt-2 $16.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/3.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 3
                    h3.pt-2 $17.000
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/4.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 4
                    h3.pt-2 $17.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/5.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 5
                    h3.pt-2 $18.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/6.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 6
                    h3.pt-2 $20.000
        .row.my-3
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/7.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 7
                    h3.pt-2 $17.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/8.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 8
                    h3.pt-2 $18.000
            .col
                .bg-blue1.p-3.rounded.d-flex.flex-column.align-items-center.justify-content-center
                    img(src="./img/niños/9.jpeg" alt="camisa1" class="img1")
                    h2.pt-2 Producto 9
                    h3.pt-2 $20.000




