html,
body {
  height: 100%;
}

.img1 {
  height: 280px;
  width: 280px;
}

.img2 {
  height: 40px;
  width: 40px;
}
.bg-pink {
  background-image: url("./img/ptrn.jpg");
}

.bg-blue1 {
  background-color: #b7dbd9;
}

.bg-pink1 {
  background-color: #f59cb2;
}

.bg-unisex {
  background-color: #e3c360;
}

.bg-acc {
  background-color: #cbb5db;
}
